*{
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}


body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#indexMenager{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mainPage{
  flex: 1 1 auto;
  display: flex;
}

#articleArray{
  flex: 1 1 auto;
}

#articleArray > .article{
  width: calc(100%-50px);
  margin: 25px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

#articleArray > .article > .art_content{
  border: 2px red solid;
  flex: 1 1 auto;
}

#articleArray > .article > .art_content > img{
  width: 100%;
  height: 100px;
}

#sideBar{
  width: 300px;
}

#sideBar > #userWindow{
  border: 1px solid #ccc;
  margin: 25px;
}

#registerMenager{
  display: grid;
  place-items: center;
  height: 100%;
}

#registerMenager > div{
  border: 2px solid #ccc;
}

#writerMenager{
  display: grid;
  place-items: center;
  height: 100%;
}

#writerMenager > div{
  border: 2px solid #ccc;
}